<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Hello World From The Server Side </h1>
    <p>
        Amirat is a good
        and Abdelkrime is a good too, 
        i forget that Abdelkader also is a good person.
    </p>
    <h5 style = "background-color: orange; padding : 10px; border-radius: 5px;">The Numbers are : <%=numbers%></h5>

    <h4> <%=name %></h4>

    <% if(name == 'Abdelkrim') {  %>
        <h1> Welcome Abdelkrim </h1>
    <% } else { %> 
        <h1> Welcome Guest </h1>        
    <% } %>
    
</body>
</html>